# Laravel Configuration
# https://www.magalix.com/blog/running-dockerized-laravel-applications-on-top-of-kubernetes#id-13
# To be loaded in deployment with
# envFrom:
#   - configMapRef:
#   name: laravel-config
# as it would be used during initContainer run 
# and main app container image run
# vars based on https://github.com/smart48/laravel-demo-app/blob/master/.env.smt.docker.example
# and https://github.com/kadnan/LearningK8s
apiVersion: v1
kind: ConfigMap
metadata:
  name: laravel-config
data:
  APP_DEBUG: "true"
  APP_ENV: local
  APP_KEY: base64:5B+bM8nEe39w2LLpWagnJTNKFABoYIekC/UZo/Ve1PA=
  APP_LOG_LEVEL: debug
  APP_NAME: "Laravel Demo"
  APP_URL: http//smart48k8.local
  LOG_CHANNEL: stack
  BROADCAST_DRIVER: pusher
  CACHE_DRIVER: redis
  QUEUE_DRIVER: redis
  SESSION_DRIVER: redis
  # DB_CONNECTION: mysql
  DB_HOST: mysql-service
  DB_PORT: "3306"
  DB_DATABASE: smt_local_db
  DB_USERNAME: smt_database_user
  DB_PASSWORD: password
  # DB_CONNECTION Published
  # Not set up yet
  # DB_PUBLISH_HOST: mysql2-service
  # DB_PUBLISH_PORT: 3306
  # DB_PUBLISH_DATABASE: published
  # DB_PUBLISH_USERNAME: default
  # DB_PUBLISH_PASSWORD: secret
  # Redis
  REDIS_HOST: redis-service
  # REDIS_PASSWORD: password
  # REDIS_PORT: "6379"
