# Redis Secrets not implemented yet
apiVersion: v1
kind: Secret
metadata:
  name: redis-secrets
  namespace: smt-local
type: Opaque
data:
  # `echo -n "root" | base64`
  # on macOS `echo -n 'root' | openssl base64`
  redis_ROOT_PASSWORD: cm9vdA==
  # password password
  redis_PASSWORD: cGFzc3dvcmQ=